<ion-view title="menu">
    <ion-content overflow-scroll="true" padding="true" style="background: url(img/fondorojo2.jpg) no-repeat center;">
<ion-list >
  
<div class="card">
       <div class="item item-avatar item-assertive">
       <img src="img/portada.png">
       <ion-label class="letra">Nuevas Promos</ion-label>

       </div>

       <div class="item item-body item-assertive">
         <ion-slide-box on-slide-changed="slideHasChanged($index)">
  <ion-slide>
    <div class="box blue"> <img src="img/promo1.jpg" width="400" height="200"></div>
  </ion-slide>
  <ion-slide>
    <div class="box yellow"> <img src="img/promo2.jpg" width="400" height="200"></div>
  </ion-slide>
  <ion-slide>
    <div class="box pink"><img src="img/promo3.jpg" width="400" height="200"></div>
  </ion-slide>
  <ion-slide>
    <div class="box blue"> <img src="img/promo1.jpg" width="400" height="200"></div>
  </ion-slide>
  <ion-slide>
    <div class="box yellow"> <img src="img/promo2.jpg" width="400" height="200"></div>
  </ion-slide>
  <ion-slide>
    <div class="box pink"><img src="img/promo3.jpg" width="400" height="200"></div>
  </ion-slide>
</ion-slide-box>
  Desliza para ver mas promociones
       </div>
       </div>



        

         <div class="card">
       <div class="item item-avatar item-assertive">
       <img src="img/portada.png">
       <ion-label class="letra">Pizzas</ion-label>
       </div>

       <div class="item item-body item-assertive">
       <img class="full-image" src="img/pizzamenu.jpg" ui-sref="pizzas">
       Ven y disfruta nuestra variedad de Pizzas, variedad de estilos y tamaños       <label class="icon ion-star  assertive"></label>
        <label class="icon ion-star  assertive"></label>
         <label class="icon ion-star  assertive"></label>
          <label class="icon ion-star  assertive"></label>
       </div>
       </div>


  <div class="card">
   <div class="item item-avatar item-assertive">
      <img src="img/portada.png">
      <ion-label class="letra ">Bebidas</ion-label>
   </div>

   <div class="item item-body item-assertive">
      <img class="full-image" src="img/bebidasmenu.jpg" ui-sref="bebidas">
   Elije entre nuestras cuatro tipos de bebidas refrescantes
       <label class="icon ion-star  assertive"></label>
        <label class="icon ion-star  assertive"></label>
         <label class="icon ion-star  assertive"></label>
          <label class="icon ion-star  assertive"></label>
</div>
  </div>


  <div class="card">
   <div class="item item-avatar item-assertive">
      <img src="img/portada.png">
      <ion-label class="letra">Postres</ion-label>
   </div>

   <div class="item item-body item-assertive">
      <img class="full-image" src="img/postre.jpg">
     Los mejores postres!  
      <label class="icon ion-star  assertive"></label>
        <label class="icon ion-star  assertive"></label>
         <label class="icon ion-star  assertive"></label>
          <label class="icon ion-star  assertive"></label>
           <label class="icon ion-star  assertive"></label>
</div>
  </div>

  <div class="card">
   <div class="item item-avatar item-assertive">
      <img src="img/portada.png">
      <ion-label class="letra">Personalizada</ion-label>
   </div>

   <div class="item item-body item-assertive">
      <img class="full-image" src="img/personalizar.jpg" ui-sref="postres" >
     Personaliza tu pizza a tu gusto!  
      <label class="icon ion-star  assertive"></label>
        <label class="icon ion-star  assertive"></label>
         <label class="icon ion-star  assertive"></label>
          <label class="icon ion-star  assertive"></label>
           <label class="icon ion-star  assertive"></label>
</div>
  </div>
        </ion-list>


        
    </ion-content>

        
</ion-view>