
<ion-tabs class="tabs-icon-top tabs-assertive" style="position-bottom">

  <ion-tab title="Inicio" icon="ion-home stable"
    href="#/page2/inicio">
    <ion-nav-view name="tab1"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Inicio" icon="ion-log-in stable"
    href="#/page2/login">
    <ion-nav-view name="tab2"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Registro" icon="ion-person-add stable"
    href="#/page2/registro">
    <ion-nav-view name="tab3"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Acerca De" icon="ion-information-circled"
    href="#/page2/equipo">
    <ion-nav-view name="tab4"></ion-nav-view>
  </ion-tab>

</ion-tabs>

