<ion-view view-title="Historial">

<div class="bar bar-subheader 
  item-input">
  <label class="item-input-wrapper">
    <i class="icon ion-search  icon-stable"></i>
    <input type="search" ng-model="query" placeholder="Buscar en mis Pedidos">
  </label>
</div>
    <ion-content overflow-scroll="true" padding="true" style="background: url(img/fondoHistorial.png) no-repeat center;" ng-controller="ListController">
       
  
  <ion-list class="list-insent">
    <ion-item ng-class="{'star': item.star}" 
    ng-repeat='item in artists | filter: query'
    class="item-thumbnail-left item-icon-right
      item-text-wrap"  ui-sref="menu2.detalle({aId: item.shortname})">


     <img ng-src="img/{{item.categoria}}.jpg"
        alt="{{ item.name }} Photo">
      <h2 class="titulo">{{item.categoria}}</h2>
      <h2 class="titulo">{{item.name}}</h2>
      <h3>{{item.reknown}}</h3>
      <p class="titulo">{{item.bio | limitTo: 50}}
      {{ item.bio.length > 150 ? '&hellip;' : '' }}</p>
      <!--<button class="button button-clear icon ion-star button-stable"
        ng-click="toggleStar(item)"
        ng-show="item.star"></button>
      <ion-option-button class="button-assertive"
        ng-click="toggleStar(item)">
        <i class="icon ion-star"></i>
      </ion-option-button>
      <ion-delete-button class="ion-minus-circled" ng-click="onItemDelete(item)">
      </ion-delete-button>
      <ion-reorder-button class="ion-navicon"
        on-reorder="moveItem(item, $fromIndex, $toIndex)">
      </ion-reorder-button>-->
    </ion-item>
  </ion-list>

    </ion-content>
</ion-view>