<ion-view hide-nav-bar="true" ng-controller="loginCtrl">
    <ion-content overflow-scroll="true" padding="true"  class="splash">

        <div style="text-align:center;">
            <img src="img/portada.png" width="128" height="auto">
        </div>
       
         <div style="text-align:center;">
            <h2>Iniciar Sesion</h2>
         </div>


        <form class="list" id="login">
          <div class="list list-inset">

            <label class="item item-input ">
             <i class="icon ion-person" ></i>
                <span class="input-label">Usuario</span>
                <input type="text" placeholder="" id="user">
            </label>

            <label class="item item-input">
            <i class="icon ion-unlocked" ></i>
                <span class="input-label">Contraseña</span>
                <input type="password" placeholder="" id="password">
            </label>
</div>
                <button type="submit"class="button button-raised button-assertive  button-block sendLogin" data-ink-color="#CD3385" data-ink-opacity=".8">Iniciar Sesion</button>
     
      
        </form>


    </ion-content>
</ion-view>