
<ion-view >

    
    <script src="//code.ionicframework.com/nightly/js/ionic.bundle.js"></script>

  <ion-content class="ion-content">
      
          <ion-slide-box auto-play="false" show-pager="false">
            
           
               <ion-slide >
              <img ng-src="img/prueba/perfil.jpg" class="about-image profile-background-image" width="400" height="230">
                
              </ion-slide>
              <ion-slide >
              <img ng-src="img/prueba/perfil2.jpg" class="about-image profile-background-image" width="400" height="230">
                
              </ion-slide>


           </ion-slide-box>
           

              <div class="bar bar-footer bar-assertive" style="position: static;">
                <div class="title">Nombre de Usuario</div>
                <div class="buttons buttons-right">
                    <button class="button button-fab button-assertive icon ion-heart">
                        
                    </button>
                </div>       
                </div>
               <p class="card padding">
               <h4 class="tituloprecio1"><i class="icon ion-person"></i>Nombre</h4>
               <h4 class="tituloprecio1"><i class="icon ion-home"></i>Direccion</h4>
               <h4 class="tituloprecio1"><i class="icon ion-android-call"></i>Telefono</h4>
               <h4 class="tituloprecio1"><i class="icon ion-email"></i>Correo</h4>
               <h4 class="tituloprecio1"><i class="icon ion-pizza"></i>Compras
               <span class="badge badge-assertive">3</span>
               </h4>
             </p>
        
  </ion-content>
    
</ion-view>