<ion-view title="Mi Ubicacion">

    <ion-content overflow-scroll="true" padding="true" style="background: url(img/skyline.jpg) no-repeat center;">

        <div style="text-align:center;">
            <img src="img/portada.png" width="128" height="auto">
            <div class="tagline">2016 ITE</div>
            <h2>Mi Ubicacion</h2>
        </div>

            <button ui-sref="menu2.menu" type="submit"class="button button-assertive button-block icon-left ion-ios-location">Ingresar Direccion</button>




            <button ui-sref="ubicacion" type="submit"class="button button-assertive button-block icon-left ion-map">Google Maps</button>
    </ion-content>
</ion-view>